<div class="formsStyles">
  <img src="https://res.cloudinary.com/ddaezutq8/image/upload/v1692089155/TOPGAMESPORTS_sin_fondo_sfsawl.png" alt="topgamesports" width="400px">
  <form action="/auth/login" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control">
    </div>

    <button class="btn btn-success">Log In</button>

    <p>If you don't have an account yet <a href="/auth/signup" class="link-success link-offset-3 link-underline-opacity-100">Signup</a></p>

    {{#if errorMessage}}
      <div class="alert alert-warning" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}
  </form>
</div>