<div class="formsStyles">
  <img src="https://res.cloudinary.com/ddaezutq8/image/upload/v1692089155/TOPGAMESPORTS_sin_fondo_sfsawl.png" alt="topgamesports" width="400px">
  <form action="/auth/signup" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" class="form-control">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control">
    </div>

    <div class="mb-3">
      <label for="repitPassword" class="form-label">Repit Password</labe>
      <input type="password" name="repitPassword" class="form-control">
    </div>

    <button class="btn btn-success">Signup</button>
    
    {{#if errorMessage}}
      <div class="alert alert-warning" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}
  </form>
</div>