<div class="formsStyles">
  <H1>Add a new Game</H1>

  <form action="/game/new-game" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title"  placeholder="Enter title">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <input class="form-control" name="description" placeholder="Enter description"></input>
    </div>
    
    <div class="form-group">
      <label for="cover">Cover</label>
      <input type="text" class="form-control" name="cover">
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <select class="form-control" name="genre" multiple>
        <option value="action">Action</option>
        <option value="adventure">Adventure</option>
        <option value="shooter">Shooter</option>
        <!-- Add more genres -->
      </select>
    </div>

    <div class="form-group">
      <label for="rating">Rating</label>
      <input type="number" class="form-control" name="rating" placeholder="Enter rating">
    </div>

    <div class="form-group">
      <label for="video">Video</label>
      <input type="text" class="form-control" name="video" placeholder="Enter video URL">
    </div>
    
    <div class="form-group">
      <label for="platform">Platform</label>
      <select class="form-control" name="platform" multiple>
        <option value="Steam">Steam</option>
        <option value="Sony">Sony</option>
        <option value="Xbox">Xbox</option>
        <option value="Nintendo">Nintendo</option>
      </select>
    </div>

    <div class="form-group">
      <label for="launchDate">Launch Date</label>
      <input type="date" class="form-control" name="launchDate" placeholder="Enter launch date">
    </div>

    <button class="btn btn-success">Submit</button>

    {{#if errorMessage}}
      <div class="alert alert-warning" role="alert">
        <p>{{errorMessage}}</p>
      </div>
    {{/if}}
  </form>
</div>