body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav {
  height: 100px;
  font-size: 25px;
}

/* .bcolor {
  background-color: #353945;
  color: #A0A5C3;
}

.bcolor a {
  color: #A0A5C3;
} */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #f8f9fa;
  margin-top: 20px;
}

.centerb {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formsStyles {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

#card-games{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap:20px;
align-items: center;
justify-content: center;
}

thead {
  text-align: center;
  font-size: 25px;
}

tbody {
  text-align: center;
  font-size: 25px;
}

.details{
  display:flex;
  flex-direction: row;
margin: 100px 300px;
gap: 80px;
justify-content: space-between;
}

.event-list{
display: flex;
flex-direction: column;
padding: 0px 20px;
width: 500px;
justify-content: center;

}

.editCover {
  display: flex;
  gap: 20px;
}

.editCover img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center top;
  border: 1px solid lightgrey;
}